//-----> Interactive Button <------------------------------//
.interactive-btn {
  display: flex;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  text-align: center;
  background-color: transparent;
  font-size: 14px;
  width: 180px !important;
  height: 50px;
  font-weight: 700;
  white-space: nowrap;
}

.interactive-btn:hover {
  width: 180px !important;
  .arrow-icon {
    padding-right: -10px;
  }
}
