//-----> Interactive Button <------------------------------//
.interactive-btn {
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: center;
  border: solid 2px #70bc1f;
  background-color: transparent;
  color: #70bc1f;
  font-size: 14px;
  width: 173px;
  height: 50px;
  position: relative;
  .arrow-icon {
    position: absolute;
  }
}

.interactive-btn:hover {
  width: 173px !important;
  height: 50px;
  color: white;
  border: solid 2px white;
  background-color: #70bc1f;
  border-color: #70bc1f;
}
